/* app/dog-info.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Add padding between elements */
}
.galleryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--color-secondary);
  color: white;
}
